@import "layout/var";

.breads {
  position: relative;
  z-index: 1;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 20px;
    }
  }

  &__item {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-right: 5px;

    &:after {
      content: ' /';
    }

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:hover {
      &:after {
        color: white;
      }
    }
  }
}