form.form
    div.form__title Остались вопросы?<strong>Задайте их нам</strong>

    input.form__input(type="text" placeholder="Как Вас зовут?")
    input.form__input(type="text" placeholder="Введите электронную почту")
    input.form__input.tel-input(type="text" placeholder="Введите Ваш рабочий телефон")

    textarea.form__textarea(placeholder="Введите текст")

    div.form__file
        input(type="file")
        span Прикрепить файл

    button.button.form__button Оставить заявку

    p.form__note Нажимая на кнопку "Отправить" вы соглашаетесь с нашей <a href="#">Политикой конфиденциальности</a>