div.modal#formModal
    div.modal__content
        button.modal__close

        include ../components/form.pug

div.modal.modal--opened#thanksModal
    div.modal__content.modal__content--thanks
        button.modal__close

        p.form__title Спасибо!
        p.form__note Ваша заявка принята. Скоро мы с вами свяжемся.