doctype html
html
    head
        meta(http-equiv="text/html" charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Услуги 2
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
    body
        div.main-bg

        div.main
            include ../components/header.pug
            +header(2)

            div.services2
                div.container
                    div.services2__flex
                        div.services2__item-wrap
                            p.services2__caption Практики

                            div.services2__item
                                p.services2__title Разрешение споров в <strong>арбитражных судах</strong>
                                div.services2__text
                                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                    button.button.services2__button.open-modal Обратиться

                            div.services2__item
                                p.services2__title Разрешение споров в судах <strong>общей юрисдикции</strong>
                                div.services2__text
                                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                    button.button.services2__button.open-modal Обратиться

                        div.services2__item-wrap
                            p.services2__caption Индустрии

                            div.services2__item
                                p.services2__title Разрешение споров в <strong>арбитражных судах</strong>
                                div.services2__text
                                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                    button.button.services2__button.open-modal Обратиться

                            div.services2__item
                                p.services2__title Разрешение споров в судах <strong>общей юрисдикции</strong>
                                div.services2__text
                                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                    button.button.services2__button.open-modal Обратиться

                            div.services2__item
                                p.services2__title Еще вид услуги <strong>общей юрисдикции*</strong>
                                div.services2__text
                                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                    button.button.services2__button.open-modal Обратиться

                        div.services2__bottom
                            p Содержание данного информационного ресурса (сайт wwwstratienko.legal), включая любую информацию и результаты интеллектуальной деятельности, защищены законодательством Российской Федерации и международными соглашениями. Любое использование, копирование, воспроизведение или распространение любой размещенной информации, материалов и (или) их частей не допускается без предварительного получения согласия правообладателя и влечет применение мер ответственности.
                            p Тексты, комментарии, статьи и иные информационные материалы, размещенные на сайте www.stratienko.legal, отражают личное мнение адвоката Стратиенко А.Н.
                            p Сведения и материалы, размещенные на сайте www.stratienko.legal, подготовлены исключительно в информационных целях и не являются юридической консультацией или заключением.<br>Адвокат Стратиенко А.Н. не может гарантировать актуальность и применимость для Вас размещенной информации и не несет ответственности за принятые Вами решения и их последствия, возможные прямые или косвенные убытки, возникшие в результате использования информации или какой-либо ее части, размещенной на настоящем Сайте.

            include ../components/footer.pug

        include ../components/modal.pug

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
        script(src="js/inputmask.js")
        script(src="js/jquery.inputmask.js")
        script(type="text/javascript" src="js/scripts.js")